.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: fit-content;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 800px;
  height: fit-content;

  gap: 64px;

  padding: 64px 0 128px 0;
}

.headingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.donateSection {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: fit-content;
}

.paymentOptionHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
}

.paymentOptionHeading h2{
  margin-bottom: 16px;
}

.donateSectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: fit-content;

  padding: 32px 0;
}

.donateSectionContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 32px;

  width: 200px;

  border: 1px solid #EAEAEA;
  border-radius: 10px;

  padding: 16px;
}

.donateSectionContainer div a {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #FFFFFF;

  background-color: #0077CE;

  border-radius: 200px;

  padding: 0 16px;

  height: 28px;
  min-width: 160px;
}

.donateSectionContainer div a:hover {
  background-color: #24a4ff;
}

.link {
  color: #0077CE;
}

.divider {
  width: 100%;

  border-top: 1px solid #EAEAEA;
}

.disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 64px;

  padding: 4px 16px;

  min-height: 32px;
  width: 100%;

  background-color: #FF5353;
  color: #FFFFFF;
}

@media (max-width: 800px) {
  .container {
    width: 500px;
  }

  .donateSectionContainer {
    flex-direction: column;

    gap: 16px;
  }

  .donateSectionContainer div {
    width: 90%;
  }

  .donateSectionContainer div a {
    width: 80%;
  }

  .container h1 {
    width: 100%;

    text-align: center;
  }

  .container h2 {
    width: 100%;

    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    width: 280px;
  }

  .container h1 {
    font-size: 40px;
  }

  .container h2 {
    font-size: 40px;
  }
}