@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  flex-direction: column;

  height: 100vh;
  
  transition: all ease 0.15s;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  font-size: 12px;
  color: #1E1E1E;

  background: #FFFFFF; /* #DEF1FF */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: auto;
  width: auto;

  padding: 4px 32px;

  width: fit-content;
  height: fit-content;

  transition: all ease 0.15s;
}

.filled {
  background-color: #1E1E1E;
  color: #FFFFFF;
  border: 1px solid #1E1E1E;
  border-radius: 20px;
}

.filled:hover {
  background-color: #3C3C3C;
  border: 1px solid #3C3C3C;
}

.outlined {
  background-color: #FFFFFF;
  color: #1E1E1E;
  border: 1px solid #1E1E1E;
  border-radius: 20px;
}

.outlined:hover {
  background-color: #EAEAEA;
}

.higlight {
  background-color: #0077CE;
  color: #FFFFFF;
  border: 1px solid #0077CE;

  font-weight: 500;
  border-radius: 20px;
}

.higlight:hover {
  background-color: #24a4ff;
  border: 1px solid #24a4ff;
}

.ghost {
  background-color: #FFFFFF;
  color: #1E1E1E;

  font-weight: 600;
  border-radius: 20px;
}

.ghost:hover {
  background-color: #CCCCCC;
}

.large {
  font-size: 16px;

  min-width: 220px;
  height: 40px;

  gap: 32px;

  /* 180 : 36 */
}